extends layout

block content
  div
    img(src='#{book.img_url}', alt="this is a photo of the book", height="420", width="420")
    h1 #{book.title}
    h4 by:
    for author in authors
      a(href='/author/#{author.id}')
        h2 #{author.name}
    h4 #{book.publication_date}
    h3 Price: $#{book.price}
    h3 Genres
    for tag in genres
      p #{tag.item}
    p #{book.description}
