extends layout

block content
  h1= title
    h3 Enter information to edit this book:
      form(method="post" action='/book/#{id}/edit')
        input(type="text", value="#{title}", name="title")
        input(type="date", value="#{publication_date}", name="publication_date")
        input(type="text", value="#{img_url}", name="img_url")
        textarea(rows="4" cols="50", name="description") #{description}
        input(type="text", value="#{price}", name="price")
        input(type="submit" class='button' value="Update Book")
