extends layout

block content
  if isSearch
    h3(name='searchq') Searching for: #{searchq}
  .bookList
    for book in books
      .bookThumbnail
        a(href='/book/#{book.book_id}')
          img(src='#{book.img_url}', height='200', width='200')
          p.Title #{book.title}
        a(href='/author/#{book.author_id}')
          p by #{book.name}
        p #{book.price}

  .flex-container
    .cornerButtons
      p STUFF
      if isSearch
        a(href='/search/?page=#{previousPage}&searchq=#{searchq}') Previous
      else

        a(href='/?page=#{previousPage}') Previous
    .cornerButtons
      p THINGS
      if isSearch
        a(href='/search/?page=#{nextPage}&searchq=#{searchq}') Next
      else

        a(href='/?page=#{nextPage}') Next
