extends layout

block content
  h1 Woodchuck Books
  .bookList
    for book in books
      .bookThumbnail
        a(href='/book/#{book.id}')
          img(src='#{book.img_url}', height='200', width='200')
          p.Title #{book.title}
        //- p.Author Gary Whitta

  .flex-container
    .cornerButtons
      p STUFF
      a(href='/?page=#{previousPage}') Previous
    .cornerButtons
      p THINGS
      a(href='/?page=#{nextPage}') Next
